[Unit]
Description=node.js server to manage yeelight bulbs

[Service]
ExecStart=/var/opt/node/smartserver/smartserver.js
Restart=always
User=smartlights
Group=smartlights
Environment=PATH=/usr/bin:/usr/local/bin:/usr/sbin
Environment=NODE_ENV=production
WorkingDirectory=/home/smartlights/

[Install]
WantedBy=multi-user.target
