[Unit]
Description=node.js server to manage yeelight and miPow bulbs

[Service]
ExecStart=/var/opt/node/smartthings-smartbulbs/smartbulbserver.js
Restart=always
User=smartbulbs
Group=smartbulbs
Environment=PATH=/usr/bin:/usr/local/bin:/usr/sbin
Environment=NODE_ENV=production
WorkingDirectory=/home/smartbulbs/

[Install]
WantedBy=multi-user.target
