[Unit]
Description=node.js server to manage yeelight and miPow bulbs

[Service]
ExecStart=/var/opt/node/smartthings-smartbulbs/smartserver.js
Restart=always
User=smartserver
Group=smartserver
Environment=PATH=/usr/bin:/usr/local/bin:/usr/sbin
Environment=NODE_ENV=production
WorkingDirectory=/home/smartserver/

[Install]
WantedBy=multi-user.target
