[Unit]
Description=node.js server to manage yeelight bulbs

[Service]
ExecStart=node /var/opt/node/yeelight-smartthings/server.js
Restart=always
User=nobody
Group=nobody
Environment=PATH=/usr/bin:/usr/local/bin:/usr/sbin
Environment=NODE_ENV=production
WorkingDirectory=/var/opt/node/yeelight-smartthings/

[Install]
WantedBy=multi-user.target